@use "sass:color";

.catalog_page {
    min-height: 100vh;
    height: 100%;
    margin: 0px auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.catalog {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.aves_container {
    padding: 0.5rem;
    background-color: var(--palette-white);
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 0.5rem;
    overflow-y: auto;
    flex-grow: 1;
}

.ave_info_container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(#424242, 0.6);
    position: fixed;
    backdrop-filter: blur(10px);
}

@media (width > 32rem) {
    .aves_container {
        grid-template-columns: repeat(4, 4fr);
    }
}

@media (width > 45rem) {
    .aves_container {
        grid-template-columns: repeat(5, 5fr);
    }
}

@media (width > 62rem) {
    .aves_container {
        grid-template-columns: repeat(6, 6fr);
    }
}