.quiz_select {
    text-decoration: none !important;
    min-width: 200px;
    min-height: 200px;
    height: 200px;
    width: 200px;
    position: relative;

    padding: 4px;
    color: white;
    transition: 100ms ease;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.46);
}

.quiz_select:hover {
    cursor: pointer;
    transform: scale(110%) rotateZ(5deg);
}

.quiz_select:active {
    transform: scale(90%) rotateZ(-5deg);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.5rem;
    gap: 0.5rem;

    background-color: rgba(92, 92, 92, 0.277);
}

.locked_quiz {
    background: linear-gradient(0deg, rgb(84, 84, 84) 0%, rgb(50, 50, 50) 100%);
}

.easy {
    background: linear-gradient(0deg, rgba(99,255,0,1) 0%, rgba(200,246,191,1) 100%);
    /* box-shadow: 0px 0px 8px 8px rgba(17, 255, 0, 0.512); */
}

.medium {
    background: linear-gradient(0deg, rgba(255,214,0,1) 0%, rgb(162, 179, 7) 100%);
    /* box-shadow: 0px 0px 8px 8px rgba(255, 255, 0, 0.512); */
}

.hard {
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(108,64,53,1) 100%);
    /* box-shadow: 0px 0px 8px 8px rgba(255, 0, 0, 0.512); */
}

.quiz_title {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: left;
}

.check {
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 4px;
    background-color: rgb(0, 124, 37);
}