.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.center_title {
    margin-left: 10px;
    margin-right: 74px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate_title {
    from {
        transform: scale(95%);
    }
    to {
        transform: scale(100%);
    }
}

.header_title {
    font-size: 3rem;
    padding: 0.25rem;
    font-weight: 800;
    background-color: white;
    user-select: none;
    outline: 0.25rem solid black;

    animation: animate_title 0.8s linear infinite;
}