@use "../../scss/_drop-shadow.scss" as *;

.quiz_page {
    width: 100%;
    height: 100%;

    padding: 1rem;
}

.quiz_page_header {
    display: flex;
    justify-content: space-between;
}

.quiz_question_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quiz_question_number {
    @include drop-shadow;
    
    width: 4rem;
    height: 4rem;
    display: block;
    background-color: var(--palette-yellow);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--palette-black);
    }
}