.back_btn {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
    background-color: white;
    transition: 30ms ease;
}

.back_btn:hover {
    cursor: pointer;
    transform: scale(110%) rotateZ(5deg);
}

.back_btn:active {
    transform: scale(90%) rotateZ(-5deg);
}

.back_btn > img {
    width: 64px;
    height: 64px;
}
