#root {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(160deg,rgba(167, 233, 255, 0.844) 0%, rgba(130, 130, 130, 0.389) 50%, rgba(0, 0, 0, 0.554) 100%);
  backdrop-filter: blur(1px);
}

.game_title {
  font-size: 3rem;
}