@keyframes background-pan {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: 200px 200px;
  }
}

#root {
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--palette-beige);
}

.game_title {
  font-size: 3rem;
}