@mixin nav-button($width: auto, $height: auto) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: $width;
    height: $height;
    text-decoration: none !important;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: white;
    border: none;

    outline: 4px solid black;

    transition: 50ms ease;

    &:hover {
        transform: scale(110%);
    }

    &:active {
        transform: scale(90%);
    }
}