@use ".././scss/btn_pointer_event_colors" as *;

@mixin save_slot_btn($backgroundColor) {
    @include btn_pointer_event_colors($backgroundColor);

    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--palette-black);
    background-color: $backgroundColor;
    flex: 1 1 0px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    font-family: inherit;
    font-weight: 800;
}