@mixin save_slot_btn($backgroundColor) {
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--palette-black);
    background-color: $backgroundColor;
    flex: 1 1 0px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    font-family: inherit;
    font-weight: 800;

    &:hover {
        background-color: desaturate(darken($backgroundColor, 10%), 30%);
        cursor: pointer;
    }

    &:active {
        background-color: lighten($backgroundColor, 10%);
    }
}