.page_container {
    width: 100%;
    height: 100%;
}

.game_start_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.game_btns {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 3rem;
    gap: 2rem;
}

.home_btn {
    padding: 0 1rem;
    background-color: var(--palette-black);
    border-radius: 0.5rem;

    div {
        padding: 0 1rem;
        background-color: var(--palette-blue);

        div {
            width: 14rem;
            background-color: var(--palette-yellow);
            padding: 0.5rem 0.5rem;

            span {
                color: var(--palette-black);
                text-decoration: none !important;
                font-weight: 800;
                font-size: 2rem;
            }
        }
    }
}