@use "../../scss/_drop-shadow.scss" as *;

.page_container {
    margin: 0px auto;
    padding: 5rem 1rem 1rem 1rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.game_title {
    font-size: 4rem;
    color: var(--palette-black);
    letter-spacing: 20%;
    user-select: none;
}

.game_btns {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 0;
    margin-top: 3rem;
    gap: 1rem;
}

.home_btn {
    background: none;
    width: auto;
    height: auto;
    border: none;
    pointer-events: all;
    

    .home_btn_link {
        @include drop-shadow;

        overflow: hidden;
        border-radius: 0.5rem;
        display: block;
        padding: 0 1rem;
        background-color: var(--palette-black);
        border: none;
        font-family: inherit;

        &:hover {
            cursor: pointer;
        }

        div {
            background-color: var(--palette-blue);
            padding: 0 1rem;

            div {
                width: 14rem;
                background-color: var(--palette-yellow);
                padding: 1rem;

                span {
                    color: var(--palette-black);
                    font-size: 1.75rem;
                    font-weight: 800;
                    text-size-adjust: none;
                    font-family: inherit;
                }
            }
        }
    }
}